# IDE Files
.idea

# Running PIDs of Anvil
.anvil.pids

# Backup files
*.bak

# Relayer Docker DB
postgres0
postgres1
postgres2

# Ignore log files but keep .keep
logs/*
!logs/.keep

# Local Documents
IDEA.md
CLAUDE.md
REQUIREMENT.md